.page-events {
  .region--main {
    @include clearfix;
    .content {
      margin: {
        top: 8em;
      }
    }
    .content {
      padding: 0 1em;
    }
    @include breakpoint($mobile + 1) {
      @include add-grid(4 10 3);
      @include add-gutter(1/4);
      .content {
        @include grid-span(1, 2);
      }
    }
  }
  .page-title {
    font-family: $secondary-font-family;
    margin-bottom: $base-spacing-unit;
    @include rem(font-size, $font-size-xl);
  }
}

.event__date {
  font-weight: 600;
}