// @file

.block--more-info {
  @include breakpoint(max-width $mobile) {
    padding: 1em 0;
  }
  @include breakpoint($mobile + 1) {
    padding: {
      bottom: em(60px, $font-size-xl);
      top: em(50px, $font-size-xl);
    }
  }
  .block__title {
    color: $primary-color;
    text-transform: uppercase;
    @include breakpoint(max-width $mobile) {
      text-align: center;
      @include rem(font-size, $font-size-lg);
    }
    @include breakpoint($mobile + 1) {
      @include rem(font-size, $font-size-xl);
    }
  }
}