.region--footer {
  background-color: #262626;
  border: {
    top: 1px solid $base-ui-color;
  }
  color: white;
  font-family: $secondary-font-family;
  @include rem(font-size, $font-size-sm);
  @include breakpoint(max-width $mobile) {
    .content {
      padding: {
        bottom: em(16px, $font-size-sm);
        left: em(18px, $font-size-sm);
        right: em(18px, $font-size-sm);
        top: em(16px, $font-size-sm);
      }
    }
  }
  @include breakpoint($mobile + 1) {
    .content {
      padding: {
        bottom: em(32px, $font-size-sm);
        top: em(32px, $font-size-sm);
      }
      @include clearfix;
      @include add-grid(4 10 3);
      @include add-gutter(1/4);
      @include add-gutter-style('split');
    }
  }
}

.footer__blocks {
  @extend .cf;
  @include breakpoint($mobile + 1) {
    @include layout(3, $gutter: 0) {
      .footer__block.one {
        @include grid-span(1, 1);
      }
      .footer__block.two {
        @include grid-span(1, 2);
      }
      .footer__block.three {
        @include grid-span(1, 3);
      }
    }
  }
  @include breakpoint($mobile + 1 $desktop - 1) {
    padding: 0 1em;
  }
  @include breakpoint($desktop) {
    @include grid-span(1, 2);
  }

}
.footer__block {
  margin: {
  bottom: em(32px, $font-size-sm);
  }
}
.footer__title {
  text-transform: uppercase;
}

.copyright {
  clear: both;
}

.footer__sponsors {
//  text-align: center;
}
.sponsors {
  display: inline-block;
  margin-bottom: em(20px, $font-size-sm);
}
.sponsors__item {
  display: inline-block;
  border-right: 1px solid white;
  margin-right: em(4px, $font-size-sm);
  padding-right: em(8px, $font-size-sm);
  &:last-child {
    border-right: 0;
    margin-right: 0;
    padding-right: 0;
  }
  a {
    color: white;
    font-weight: $bold;
    text-transform: uppercase;
  }
}